
.blog-container h2, .blog-container h1 { 
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1.3rem;
}

.blog-container h3 { 
    font-size: x-large;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.blog-container li {
    margin-bottom: 0.5em;
}